<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="false"
        android:label="Infinity Glass Vector"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription"
            android:value="Infinity X rodin: real QS background blur plus iOS 26-style translucent glass plates and specular gradients." />
        <meta-data android:name="xposedminversion" android:value="82" />
    </application>
</manifest>
